@import '../../styles/settings.scss';
.cardForm {
    text-align: center;
    padding: 10px;
}

@media (max-width: 991px) {
    .columnForm {
        width: 100%;
    }
}

@media (max-width: 720px) {
    .columnForm {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}